@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #ffffff;
  --navbar-hover-color: #F3F7EC;
  --bg-color: #f5f7fa;
  --bg-head: #F6E9B2;
  --navbar-bg: #050C9C;
  --toggle-btn-color: #f5f7fa;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-head);
  line-height: 1.2;
}

a {
  text-decoration: none;
  font-weight: 400;
}

.topbar-bg {
  background-color: var(--navbar-bg);
  color: var(--main-color);
}
.topbar-bg a {
  color: var(--main-color);
}
.topbar-bg a:hover {
  color: var(--navbar-hover-color);
}

.card-bg {
  background: var(--main-color);
}

footer {
  background: var(--main-color);
}