.image-container {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  #selected-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .edit-button {
    position: absolute;
    bottom: 75px;
    right: 75px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }
  
  .image-container:hover .edit-button {
    display: block;
  }

  /* upload design css */
  .file-input-container {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .file-input-label {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
    background-color: #f9f9f9;
  }
  
  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }